<%-include("../Partials/header")%>

<div class="content" id="content" >
  <!--Header-->
    <div class="flex-container"style="display: flex;">
      <!-- Toggle button -->
      <button id="sidebarCollapse" type="button" class="btn flex-item-button"><i class="fa fa-bars mr-2 a"></i></button>
      <div class="flex-item-text ms-2 fw-bold fs-0">
        
        <!--Checking for the Length of the class name-->   
        <%if(Class.classname.length<=10){%>
            <%=Class.classname%>
            <%}%>
            <%if(Class.classname.length>10){%>
                <%for(i=0;i<=10;i++){%>
                    <%=Class.classname[i]%>
                <%}%>...
            <%}%>
        </div>
      <a href="/<%-Class._id%>/people" class="fw-bold fs-5 flex-item-middle" id="people" style="color: greenyellow;">People</a>
      <a href="/<%-Class._id%>/Timetable" class="fw-bold fs-5 flex-item-middle" style="color: greenyellow;">Timetable</a>
      <a href="/<%-Class._id%>/Assignment" class="fw-bold fs-5 flex-item-middle" style="color: greenyellow;">Assignment</a>
      <a href="/<%-Class._id%>/Result" class="fw-bold fs-5 flex-item-middle" style="color: greenyellow;">Result</a>

      <a href="/users/logout" class= "fs-5 flex-item-end me-2">Logout<i class="bi bi-box-arrow-in-right fa-lg"></i></a>
    </div>
<!--/Header-->

<!--Middle-->
<div class="middle">
    
</div>
<!--/Middle-->
</div>  

<script>
    $(function() 
  { 
  $('#sidebarCollapse').on('click', function() 
  {
    $('#sidebar, #content,.flex-container').toggleClass('active');
  });
  });
</script>
<style>
.flex-item-text
{ 
    height:100%;
    color:gold;
    background-color:#6D63FF;
    max-width:30%;
}
</style>
</body>
</html>